body {
    font-size: 62.5%;
}

.resizeable {
    width: 100px;
    height: 100px;
    background: #abc;
    position: absolute;
}

.r1 {
    top:10px;
    left:10px;
}
.r2{
    right :400px;
    bottom:300px;
}

.r3{
    top :60px;
    right:300px;
    width:100%;
    height:100%;
}

.content {
    top:100px;
    left:200px;
    width: 120px;
    height: 120px;
    background: red;
    padding:10px 10px 10px 10px;
}

.tangram-resizable-s{
    background-color:green;
}

.tangram-resizable-e{
    background-color:black;
}

.tangram-resizable-n{
    background-color:gray;
}

.tangram-resizable-w{
    background-color:purple;
}

.tangram-resizable-se{
    background-color:yellow;
}

.tangram-resizable-sw{
    background-color:teal;
}

.tangram-resizable-nw{
    background-color:aqua;
}

.tangram-resizable-ne{
    background-color:blue;
}
