body {
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

/*main rules*/

.js-tavle a:link, .js-table a:visited {
	color: #528CE0;
}


p {
	font-size: 13px;
	margin: 0;
	padding: 3px 0;
}

iframe {
	height: 1px;
	width: 1px;
	visibility: hidden;
}

span.clr {
	display: block;
	clear: both;
}

/*header*/

h1 {
	font-family: Georgia;
	margin: 0;
	padding: 0;
	background: url(logo.png) no-repeat top left;
	height: 69px;
	width: 280px;
}

h1 span {
	display: none;
}

h2 {
	margin: 0;
	padding: 10px 0;
	font-size: 15px;
}

#container {
	padding: 30px;
}

/*controls*/

#controls a:link, #controls a:visited {
	display: block;
	float: right;
	background: #D0C8C8;
	padding: 7px 10px;
	font-size: 13px;
	font-weight: bold;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	border: 3px solid #fff;
	color: #41464D;
	text-shadow: 2px 2px 1px #B9ACAC;
}

#controls a:hover, #controls a:active {
	text-shadow: none;
	background: #F3F1F1;
	color: #528CE0;
}

/*table*/

table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.static-table-w{
	width: 100%;
	min-width: 800px;

}


#legend td {
	padding: 15px;
}

td, th {
	background: #C8CBD0;
	padding: 5px 8px;
	margin: 0;
	width: 150px;
	font-weight: bold;
	border: 3px solid #fff;
}

th {
	font-weight: bold;
	background: #D0C8C8;
	color: #8A7575;
}

th.framework {
	font-size: 15px;
}

td.test, td.empty, th {
	text-align: right;
}

td.best {
	background: #A5D072;
}

td.normal {
	color: #636A75;
}

td.good {
	color: #657528;
	background: #CFE773;
}

td.bad {
	color: #B33F3F;
	background: #EE9A9A;
}

span.exception {
	color: #DBEAF0;
	text-decoration: underline;
	cursor: help;
}

th.selector {
	text-align: left;
}

th.score-title, th.selectors-title {
	text-align: left;
	font-size: 12px;
	width: 180px;
}

td.score {
	text-align: center;
	font-size: 12px;
	color:red;
}

td.mismatch {
	background: #E8C896;
	color: #AD7520;
}

td b {
	float:left;
	display:inline;
	width:33%;
	font-weight:inherit;
}

td.exception {
	color: #F3F1F1;
	background: #41464D;
}

/*page footer*/

div#footer {
	padding: 20px 0;
}

div#footer p {
	font-size: 11px;
	color: #B9ACAC;
}


td a.code{
	position:relative;
}
td a.code pre{
	text-align: left !important;
	font-family: Monaco, monospace;
	font-weight: normal;
	font-size:10px;
	position: absolute;
	top: 100%;
	right: 0px;
/*	width: 200px;*/
	background: #111;
	color:#fff;
	border:2px solid #333;
	padding:1em;
}
tbody td{
	/*cursor: pointer;*/
}
tbody td.showcode{
	color:#000;
}

tbody td a.code{display:block;}
tbody td a.code pre{display:none;}
tbody td.showcode:hover a.code pre {
	background:#000;
	z-index: 100 !important;
	-webkit-box-shadow: 0px 2px 10px #000;
}

tbody td.showcode a.code pre{
	display:block;
	width: 300px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	overflow: auto;	
}
/*td:hover a.code pre{display:block;}*/

tbody td:first-of-type a.code pre{
	left:0px !important;
	right:auto !important;
}

tbody td+td a.code pre{margin-top:10px;}
tbody td+td+td a.code pre{margin-top:20px;}
tbody td+td+td+td a.code pre{margin-top:30px;}
tbody td+td+td+td+td a.code pre{margin-top:40px;}
tbody td+td+td+td+td+td a.code pre{margin-top:50px;}
tbody td+td+td+td+td+td+td a.code pre{margin-top:60px;}
tbody td+td+td+td+td+td+td+td a.code pre{margin-top:70px;}
tbody td+td+td+td+td+td+td+td+td a.code pre{margin-top:80px;}
tbody td+td+td+td+td+td+td+td+td+td a.code pre{margin-top:90px;}
tbody td+td+td+td+td+td+td+td+td+td+td a.code pre{margin-top:100px;}


.static-table caption{text-align:left;color:#8A7575}
.grow{background:url("../images/pro2.gif") repeat-x scroll 0 0 transparent;height:20px;}