* {
	margin: 0;
	padding: 0;
}

html {
	border: 0;
	height: 100%;
}

body {
	font: 12px/ 1.5 Lucida Grande, Helvetica, Arial, sans-serif;
	background: #F3F1F1;
	color: #41464D;
}

body,#container {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

#title {
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	background: #aaa;
	background: #41464D;
	color: #F3F1F1;
	height: 30px;
}

a:link,a:visited {
	color: #528CE0;
}

a:hover,a:active {
	color: #41464D !important;
	cursor: pointer !important;
}

#title h1 {
	height: 30px;
	font: 25px/ 1.1 Arial, sans-serif;
	font-weight: bolder;
	float: left;
	margin: 1px 0 2px 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

h3 {
	font-size: 14px;
	padding: 3px 5px 1px;
}

.control {
	background: #d5ded7;
	width: 99%;
}

.testliststatusbar {
	width: 99%;
	color: #657528;
	background: #d5dea7;
}

.testliststatus {
	width: 80px;
	padding: 2px;
	background: #AAA;
}

.testliststatus:hover {
	background: #f5fea7;
}

.testlist a {
	display: block;
	width: 150px;
	color: #657528;
	background: #d5dea7;
	border: 1px solid #c8dc7b;
	margin: 5px 0 0 5px;
	text-indent: 5px;
	line-height: 24px;
	font-size: 14px;
	float: left;
}

.testlist a:link {
	
}

.testlist a:visited {
	
}

.testlist a:hover {
	background: #c8dc7b;
}

.testlist a.jsframe_jsspec {
	background: #DDDDDD
}

.testlist a.running_case {
	color: yellow;
}

.testlist a.fail_case {
	color: red;
}

.testlist a.pass_case {
	color: green;
}

.runningarea {
	height: 60%;
}

.runningmaindiv {
	height: 99%;
}

.runningframe {
	height: 99.99%;
	width: 99.99%;
}

.runningstatus {
	clear: both;
	height: 10%;
	border: solid
}

.reportarea {
	padding: 10px;
	border: 10px blue;
	height: 50%;
}